<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Личный кабинет</title>
</head>
<body>
    <header class="header">
      <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <ul class="navbar-nav">
                    <li><button type="button" class="btn btn-link nav-link"><a href="#">Главная</a></button></li>
                    <li><button type="button" class="btn btn-link nav-link"><a href="{% url 'lk:view_courses' user_login %}">Courses</a></button></li>
                </ul>
            </nav>
      </div>
    </header>
    <div class="row container">
        <div class="col"><h5><strong>My profile</strong></h5></div>
        <div class="col-4"><h5>{{ user_instance.fio }}</h5></div>
    </div>
    <div class="collapse show multi-collapse" id="multiCollapseExample1">
        <div class="card card-body container">
                <div class="row">
                <button id="switch" class="btn btn-link col" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Notifications</button>
            </div>
            <form action="" method="POST">

            {% csrf_token %}

            <div>
                <div class="form-column row justify-content-between">
                    <div class="col-8">
                    <label>ФИО</label>
                        <input type="text" name="fio" value="{{ user_instance.fio }}" class="form-control mb-2" id="validationTooltip01" placeholder="ФИО" required/>
                        <label>Город</label>
                        <input type="text" name="loginu" value="{{ user_instance.town }}" class="form-control mb-2" id="validationTooltip01" placeholder="Город" required/>
                        <label>Номер телеофна</label>
                        <input type="text" name="phone" value="{{ user_instance.phone }}" class="form-control mb-2" id="validationTooltip01" placeholder="Номер телеофна" required/>
                        <label>Опыт работы</label>
                        <input type="number" name="points" value="{{ user_instance.experience }}" class="form-control mb-2" id="validationTooltip01" step="1" placeholder="Опыт работы" required/>
                        <label>E-mail</label>
                        <input type="text" name="email" value="{{ user_instance.email }}" class="form-control mb-2" id="validationTooltip01" placeholder="E-mail" required/>
                        <label> Старый Пароль</label>
                        <input type="text" name="password0u" class="form-control mb-2" id="validationTooltip02" placeholder="Старый Пароль" required>
                    <label> Новый Пароль</label>
                        <input type="text" name="password0u" class="form-control mb-2" id="validationTooltip02" placeholder="Новый Пароль" required>
                        <label>Повторите новый пароль</label>
                        <input type="text" name="password1u" class="form-control mb-2" id="validationTooltip02" placeholder="Повторите новый пароль" required>
                        <label>Компания, где вы работаете</label>
                        <select name="title_company" class="custom-select" id="validationTooltip04" required>
                            {% if list_companies %}
                                {% for company in list_companies %}
                                    <option value="{{ company.id }}">{{ company.title_company }}</option>
                                {% endfor %}
                            {% else %}
                                <option selected value=":(">Ни одна компания не пользуется нашей платформой</option>
                            {% endif %}
                        </select>
                    <label>Специальность</label>
                        <select name="title_company" class="custom-select mb-3" id="validationTooltip04" required>
                            {% if list_spec %}
                                {% for spec in list_spec %}
                                    <option value="{{ spec.id }}">{{ spec.title }}</option>
                                {% endfor %}
                            {% else %}
                                <option selected value=":(">Специальностей нет</option>
                            {% endif %}
                        </select>
                        <button class="btn btn-outline-success btn-block mb-2" type="submit">Сохранить изменения</button>
                    </div>
                <div class="col justify-content-end">
                    <div class="column">
                    <div class="col"><img class="img-fluid" src="{{ MEDIA_URL }}{{ ex_image0.image.url }}" alt=""></div>
                    <div class="col"><img class="img-fluid" src="{{ MEDIA_URL }}{{ ex_image1.image.url }}" alt=""></div>

                    </div>
                </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body container">
            <div class="row" style="justify-items: stretch">
                <button  id="switch" class="btn btn-link col" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Edit profile</button>
            </div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
      <div class="toast-header">
        <strong class="mr-auto">Стандартное уведомление</strong>
        <small class="text-muted">-20 seconds ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Добро пожаловать к нам в команду
      </div>
    </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
      $("#switch").click(function(){
        $('.toast').toast('show');
      });
    });
    </script>
</body>
</html>